@import "@/styles/index";

.index-page {
  .brand {
    padding: r(10) r(45) r(15) r(15);



    &-title {
      display: flex;
      align-items: center;
      font-size: r(18);
      font-weight: 200;
      line-height: r(40);
      img {
        height: r(30);
        margin: r(5);
        margin-left: 0;
      }
    }

    &-description {
      font-size: r(12);
      font-weight: 200;
    }
  }

  main {
    padding: r(15);
  }

  .mcore-panel-body {
    border-radius: r(2);

    &:after {
      display: none;
    }
  }

  .mcore-cell {
    &:first-of-type {
      &:after {
        display: none;
      }
    }
  }

  .menu-item-content {
    .chinese {
      margin-left: r(6);
      opacity: 0.5;
    }
  }
}
